.jumbotron{
    background-image:url(../images/h_img.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
}

.services{
    background-image: url(../images/s_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}
.contact{
   background-image: url(../images/c_image.jpg);
   background-size: cover;
   margin-top: 5%;
   height: 50vh; 
}
.social-icons{
    align-items: center;
    padding-left: 40%;
    margin-top: 10px;
}

.text1{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:2px ;
    display: none;
    margin-bottom: 20px;
}


.text2{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;
}


.text3{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;
    margin-left: 20px;
}

.text4{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;
    margin: 10px;
}

.text5{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;
}

.text6{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;
}

.text7{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;
}

.text8{
    background-color:rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:20px ;
    display: none;

}

